.nav {
    position: fixed; /* 포지션 fixed를 쓸 때 기억해야 할 것 : width를 꼭 설정해줘야한다 */
    width: 100%;
    padding: 20px 50px;
    left: 0px;
    bottom: 0px;
    background-color: #fcfcfc;
    border-top: 1px solid #f7f7f7;
}

.nav .nav__list{
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}